*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
   
       display:flex ;
       justify-content: center;
       align-items: center;
       min-height: 100vh;
       background: url(https://media.discordapp.net/attachments/1244223422251405366/1276850448715743242/341e800b1f29d3e34ea2eba5a6af205c.gif?ex=66cb0725&is=66c9b5a5&hm=c1e73a31fccc119196aa6c514e809abaafdfd5400a72ff3770c719c1ab658eae&=) no-repeat;
       background-size: cover;
       background-position: center;
       
   }
   .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 320px;
    height: 300px;
    border-radius: 10px;
    background:transparent;
    backdrop-filter:blur(80%);
    color: aliceblue;
    box-shadow: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
}

.logo, .words, .button {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: black;
    line-height: 25px;
    width: 200px; 
    height: 45px;
    background-color: violet;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 10px;
}
   .button:hover, .button:focus, .button:active{
       box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
       -webkit-transform: scale(1.1);
       transform: scale(1.1)
   }
