*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jersey 10', sans-serif; 
}

body{
   
       display:flex ;
       justify-content: center;
       align-items: center;
       min-height: 100vh;
       background: url("/static/image/bg.gif") no-repeat;
       background-size: cover;
       background-position: center;
       
   }
   .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 320px;
    height: 350px;
    border-radius: 10px;
    background:transparent;
    color: #ffffff;
    box-shadow: 10px;
    background-color: rgba(0, 0, 0, 0.097);
   
}
.words {
    margin-bottom: 75px;
    margin-top: -30px;
    font-size: 24px;
    font-family: 'Jersey 10', sans-serif;


    
}
.logo{
    margin-bottom: 75px;
    padding-top: -50px;
    margin-top: -40px;
}

.login-button {
    font-family: 'Jersey 10', sans-serif; 
    display: inline-block;
    text-decoration: none;
    color: black;
    line-height: 25px;
    width: 200px; 
    height: 45px;
    background-color: violet;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 10px;
    margin-top:-50px ;

}

.login-button:hover, .login-button:focus, .login-button:active{
       box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
       -webkit-transform: scale(1.1);
       transform: scale(1.1)
}
