* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #161b16;
    color: #ffffff;
}

.whitemode {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    height: 70px;
    color: rgb(249, 255, 245);
    font-size: 50px;
}

.playlist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #0000008c;
    border-radius: 8px;
    border: 0px;
}

.home-btn {
    color: #eb0000;
    border: none;
    padding: 20px 45px;
    border-radius: 130px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
    background-image: linear-gradient(to right , #F5DEB3, #FFF0F5);
    font-size:25px ;
    font-family: 'Jersey 10', sans-serif;               
}



.note {
    position: absolute;
    top: -50px;
    font-size: 24px;
    color: white;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

@keyframes drift {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50px);
    }
}

.music {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 300px;
    height: 200px;
}

.music .bar {
    width: 12px;
    height: 2px;
    border-radius: 10px;
    background-color: #ffffff;
    animation: up_down 1.5s ease-in-out infinite;
}

@keyframes up_down {
    0% {
        height: 2px;
    }

    50% {
        height: 80px;
    }

    100% {
        height: 2px;
    }
}

.music .bar:nth-child(1) {
    background-color: rgb(255, 255, 255);
    animation-delay: 1s;
}

.music .bar:nth-child(2) {
    background-color: rgb(255, 255, 255);
    animation-delay: 0.8s;
}

.music .bar:nth-child(3) {
    background-color: rgb(255, 255, 255);
    animation-delay: 0.6s;
}

.music .bar:nth-child(4) {
    background-color: rgb(255, 249, 239);
    animation-delay: 0.4s;
}

.music .bar:nth-child(5) {
    background-color: rgb(255, 255, 255);
    animation-delay: 0.2s;
}

.music .bar:nth-child(6) {
    background-color: rgb(255, 255, 255);
    animation-delay: 0s;
}

.music .bar:nth-child(7) {
    background-color: rgb(255, 255, 255);
    animation-delay: 0.2s;
}

.music .bar:nth-child(8) {
    background-color: rgb(255, 255, 255);
    animation-delay: 0.4s;
}

.music .bar:nth-child(9) {
    background-color: rgb(255, 255, 255);
    animation-delay: 0.6s;
}

.music .bar:nth-child(10) {
    background-color: rgb(255, 255, 255);
    animation-delay: 0.8s;
}