<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/logo.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="user-profile">
        <img src="{{ user_profile_image }}" alt="Profile Image">
        <a href="{{ user_profile_url }}" target="_blank">{{ user_display_name }}</a>
    </div>
    <a href="/logout" class="logout-button">Logout</a>
    <div class="container">
        <div class="form-container">
            <div class="greeting">Hi, {{ user_display_name }}</div>
            <form action="/create_playlist" method="post">
                <div class="input-fields">
                    <input type="text" id="mood" name="mood" class="input-field" placeholder="How do you feel today?" required>
                    <input type="text" id="language" name="language" class="input-field" placeholder="Language" required>
                    <input type="submit" value="Create!!">
                </div>
            </form>
        </div>
        
        <div class="content-container">
            <h2 id="your-top-artists" class="section-title">Your Top Artists</h2>
            <div id="artistCarousel" class="artist-carousel">
                {% if top_artists %}
                    {% for artist in top_artists %}
                        <div class="artist-item">
                            <img src="{{ artist.image_url }}" alt="{{ artist.name }}" class="artist-cover">
                            <div class="artist-name">{{ artist.name }}</div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No top artists data available.</p>
                {% endif %}
            </div>
        </div>
        
        <div class="content-container">
            <h2 id="your-top-tracks" class="section-title">Your Top Tracks</h2>
            <div id="trackCarousel" class="track-carousel">
                {% if top_tracks %}
                    {% for track in top_tracks %}
                        <div class="track-item">
                            <img src="{{ track.image_url }}" alt="{{ track.name }}" class="track-cover">
                            <div class="track-info">
                                <div class="track-name">{{ track.name }}</div>
                                <div class="track-artist">{{ track.artist }}</div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No top tracks data available.</p>
                {% endif %}
            </div>
        </div>

    <div id="popup" class="popup">
        <div class="popup-content" id="popupContent">
            <p></p>
            <div class="loader"></div>
        </div>
    </div> 
        
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
       
</body>
</html>