<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="container">
        <div class="user-profile">
            <div>
                <img src="{{ user_profile_image }}" alt="Profile Image">
                <a href="{{ user_profile_url }}" target="_blank">{{ user_display_name }}</a>
            </div>
            <a href="/logout" class="logout-button">Logout</a>
        </div>
        
        <div class="form-container">
            <div class="greeting">Hi, {{ user_display_name }}</div>
            <form action="/create_playlist" method="post">
                <div class="input-fields">
                    <input type="text" id="mood" name="mood" class="input-field" placeholder="How do you feel today?" required>
                    <input type="text" id="language" name="language" class="input-field" placeholder="Language" required>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
        
        <div class="content-container">
            <h2 class="section-title">Your Top Artists</h2>
            <div class="artist-carousel" id="artistCarousel">
                {% if top_artists %}
                    {% for artist in top_artists %}
                    <div class="artist-item">
                        <img src="{{ artist.image_url }}" alt="{{ artist.name }}" class="artist-cover">
                        <p class="artist-name">{{ artist.name }}</p>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No top artists data available.</p>
                {% endif %}
            </div>
        </div>
        <div class="content-container">
            <h2 class="section-title">Your Top Tracks</h2>
            {{ tracks_html|safe }}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
       
</body>
</html>