<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Tunes Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="wrapper">
        <h1>Login</h1>
        <div class="input-box">
            <input type="text" name="username" placeholder="Username" required>
            <i class='bx bxs-user-rectangle'></i>
        </div>
        <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
            <i class='bx bxs-lock'></i>
        </div>
        <div class="remember-forget">
            <label><input type="checkbox" name="remember"> Remember Me</label>
            <a href="#">Forget Password</a>
        </div>
        <div class="button-container">
            <button type="submit" class="btn btn-login">Login</button>
            <a href="/home" class="btn btn-spotify">Login with Spotify</a>
                
        </div>
        <div class="register-link">
            <p>Don't have an account? <a href="#">Register</a></p>
        </div>
    </div>
</body>
</html>